html, * {
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    color: red;
    text-align: left;
    padding-bottom: 5px;
    font-size: 20px;
}

h4 {
    font-size: 16px;
    color: gray;
    font-weight: normal;
    padding-left: 25px;
}

.title {
    font-weight: bold;
    color: red;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}

.imageinfo {
    width: 110px;
    float: right;
    padding: 5px;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

#search-box {
    margin-left: 25px;
}

.error {
    background-color: red;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.list-sidebar {
    color: black;
}

.list-sidebar:hover {
    color: red;
    position: absolute;
    margin: 0 0 0 10px;
    width: 250px;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 270px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}